$darkgrey : #4c5454;
$lightgrey: #b8cbcb;
$lightlightgrey: #f3eeee; 
$pink : #ff7158;
$pink2 : #ff3939;
$white : #ffffff;
$lightblue: #76E5FC;
$blue: #40bcff;
$black: #000;
$lightblack: #222;
$green: rgb(0,255,0);
$white2: #faebd7;
$orange: #ff8000;
$green: #7ce810;

$text-color: white;
$icons-color: white;
$icons-hover-color: #860032;
$cross-btn-color: #ff3939;
$cross-btn-back-color: white;
$drawer-handle-color: #8c9292;


$lato: 'Lato', sans-serif;

